doctype html
html(lang="en" class="no-js" ng-app="dockerboard" ng-strict-di)
  head
    meta(charset='utf-8')
    title Dockerboard | Simple dashboards, visualizations, managements for your dockers
    base(href="/")
    meta(name="description" content="Simple dashboards, visualizations, managements for your dockers.")
    meta(name="keywords" content="docker, dockers, docker dashboards, docker visualizations, docer managements")
    meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel='stylesheet' href='css/app.css')
  body(md-theme="blue" layout="row" ng-controller="AppCtrl")
    script(src='js/app.js')

