md-dialog.container-dialog(aria-label="{{action}} Container")
  md-toolbar(layout="column" layout-align="center center" md-theme="blue")
    md-subheader.md-sticky-no-effect
      span.action {{action}} 
      | Container 
      span.short-id {{ containerShortId }}
  md-content
    p {{ content }}

  div(class="md-actions" layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button(ng-click="ok()" class="md-primary") Yes

