md-dialog(aria-label="Remove Container")
  md-subheader(class="md-sticky-no-effect") Remove Container {{ containerShortId }}
  md-content
    md-checkbox(ng-model="params.force" aria-label="Force") Force: {{ params.force }}
    md-checkbox(ng-model="params.v" aria-label="Remove Volumes") Remove Volumes: {{ params.v }}
    p {{ content }}

  div(class="md-actions" layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button(ng-click="ok()" class="md-primary") Yes
