md-dialog.container-dialog(aria-label="{action} + 'Container'")
  md-toolbar(layout="column" layout-align="center center")
    md-subheader.md-sticky-no-effect
      span.action {{action}} 
      | Container 
      span.short-id {{ containerShortId }}
  md-content
    md-list
      md-item
        div Restart:
        md-checkbox(ng-model="isRestart" ng-change="change(isRestart)" aria-label="Restart")
      md-item
        div Seconds: 
        small Number of seconds to wait before killing the container
        div(layout="row" flex)
          md-slider(layout="column" flex="80" ng-disabled="action == 'start'" ng-model="params.t" min="0" max="60" aria-label="green" id="green-slider" class="md-accent")
          div(layout="column" layout-align="left center" flex)
            input(layout="column" type="number" ng-model="params.t" aria-label="green" aria-controls="green-slider" style="margin: auto 0;")
      md-item
        p {{ content }}

  div(class="md-actions" layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button(ng-click="ok()" class="md-primary") Yes
