md-dialog.container-dialog(aria-label="Create an image")
  md-toolbar(layout="column" layout-align="center center")
    md-subheader.md-sticky-no-effect
      span.action Create 
      | an Image
  md-content
    md-list
      md-item
        md-input-container
          label From Image, name
          input(ng-model="queryParams.fromImage")
      md-item
        md-input-container
          label From src
          input(ng-model="queryParams.fromSrc")
      md-item
        md-input-container
          label Repository
          input(ng-model="queryParams.repo")
      md-item
        md-input-container
          label Tag
          input(ng-model="queryParams.tag")
      md-item
        md-input-container
          label Registry
          input(ng-model="queryParams.registry")
      md-item
        p {{ content }}

  div(class="md-actions" layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button(ng-click="ok()" class="md-primary") Yes

