md-dialog.container-dialog(aria-label="Push image")
  md-toolbar(layout="column" layout-align="center center")
    md-subheader.md-sticky-no-effect
      span.action Push 
      | Image on the Registry
  md-content
    md-list
      md-item
        md-input-container
          label Repository, Image name
          input(ng-model="repository")
      md-item
        md-input-container
          label Tag
          input(ng-model="tag")
      md-item
        md-input-container
          label Username
          input(ng-model="username")
      md-item
        md-input-container
          label Email
          input(type="email" ng-model="email")
      md-item
        md-input-container
          label Password
          input(type="password" ng-model="password")
      md-item
        p {{ content }}

  div(class="md-actions" layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button(ng-click="ok()" class="md-primary") Yes

