div(layout="column" layout-fill class="images" ng-controller="ImageCtrl" flex)
  md-toolbar(layout="column" md-theme="none" flex style="max-height: 64px;")
    md-list(role="list")
      md-item
        md-button(md-theme="blue" aria-label="Add Container" title="Add Container")
          div.icon.svg-ic_add_24px
      md-item
        md-button(md-theme="blue" aria-label="Remove Image" title="Remove Image" ng-click="destory($event)")
          div.icon.svg-ic_clear_24px

  md-content(style="margin-top: 16px;")
    table(layout="column" style="padding: 8px; text-align: left; width: 100%; display: table;")
      thead
        tr
          th Attribute
          th Value
      tbody
        tr(ng-repeat="attr in basicAttributes")
          th {{ attr.key }}
          th(ng-bind-html="attr.value | sanitize")
